        <div class="footer">
            <div class="footer-box centrado texto-blanco">
                <h3 class="mayus"><i class="fas fa-headset"></i> Contacto</h3>
                <h4 class="">+56 - 35 - 2337000 | +56 - 35 - 2337001</h4>
                <h4 class="">informaciones@ejemplo.cl</h4>
            </div>
            <div class="footer-box centrado texto-blanco">
                <h3 class="mayus"><i class="fas fa-map-marker-alt texto"></i> Quintero</h3>
                <h4 class="">Av. ...</h4>
            </div>
        </div>
        <div class="u-valpo">
            <h3 class="texto-blanco centrado">© Universidad de Valparaiso</h3>
        </div>
    </body>
</html>  