<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Administración</title>
        <link rel="icon" type="image/x-icon" href="/img/icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel='stylesheet' type='text/css' href='/css/admin.css'/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
        <!-- jquery -->
        <script src="js/jquery-3.2.1.js"></script>
    </head>

    <body>

        <!-- Sección del HEADER -->
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar-btn"></i>
            </label>
            <div class="left-area">
                <a href="">Administración</a>
            </div>
            <div class="right-area">
                <a href="/logout" class="logout-btn"><i class="fa fa-power-off"></i></a>
            </div>
        </header>
        <!-- Fin de la seccion del HEADER -->

        <!-- Sección del MOBILE NAV -->
        <div class="mobile-nav">
            <div class="nav-bar">
                <i class="fa fa-bars nav-btn"></i>
            </div>
            <div class="mobile-nav-items">
                <a href="/usuarios-admin"><i class="far fa-clipboard"></i></i><span>Solicitudes</span></a>
                <a href="/talleres-admin"><i class="far fa-list-alt"></i></i><span>Talleres</span></a>
            </div>
        </div>
        <!-- Fin de la sección del MOBILE NAV -->
        
        <!-- Sección del SIDEBAR -->
        <div class="sidebar">
            <a href="/usuarios-admin"><i class="far fa-clipboard"></i></i><span>Solicitudes</span></a>
            <a href="/talleres-admin"><i class="far fa-list-alt"></i></i><span>Talleres</span></a>
        </div>
        <!-- Fin sección del SIDEBAR -->