.carousel {
  height: 100%;
  width: 99%;
  .slider {
    // height: 100%;
    // width: 100%;
    .slide {
      height: 100%;
      width: 100%;

      .imgSlide {
        height: 90%;
        width: 90%;
      }
    }
  }
}
