html { scroll-behavior: smooth; }
:root{
    --pri: #292623;
    --sec: #3A4750;
    --ter: #e6b800;
    --blanco: #EEE;
    --hover: #31a550;
    --hover2: #1d4b95;
}
/* font-family: 'Calligraffitti', cursive; */
/* font-family: 'Assistant', sans-serif; */
body { background: var(--blanco); 
    margin: 0 auto 0; 
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-family: 'Assistant', sans-serif;
}
.texto{ color: var(--cuar); }
.texto-ng{ color: var(--pri); }
.texto-blanco{ color: var(--blanco); }
.mayus{ text-transform: uppercase; }
.centrado{ text-align: center; }
.negrita{ font-weight: bold; }
.grande{ font-size: 35px;}
.mediano{ font-size: 23px;}

h1{ 
    font-family: 'Calligraffitti', cursive; 
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin: 0;
}
h3, h4{ margin: 5px 0; font-weight: normal; }

/* Formulario */
.data{
    height: auto;
    width: 100%;
    margin: 20px 0;
    color: #55595c;
}
.dataimage{
    height: auto;
    width: 100%;
    margin: 20px 0;
    color: #55595c;
}
.data input, .data textarea{
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid silver;   
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgb(0,0,0,0.5) inset;
    background: var(--cuar);
}
.data textarea{ height: 100px; }
#inputImg{
    margin-top: 10px;
    text-align: center;
}
select{
    display: inline-block;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 40px;
	font-size: 1em;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    background:var(--hover); 
    color: var(--blanco);
}
.select-user{ background:var(--blanco); color: var(--pri); }
select:hover{ background:var(--blanco); color: var(--pri); }
/* Formulario */

@media screen and (max-width:800px) {
    .data input, .data textarea{ width: 95%;}
    /* Nav */
    .popup-log, .popup-registro{ width: 80%; }
    .mostrar-menu{ 
        display: block; 
        right: 5%;
    }
    .menu{
        display: none;
        position: fixed;
        width: 95%;
        height: auto;
        background: var(--pri);
        top: 100px;
        transition: transform 250ms linear;
        z-index: 2;
    }
    .menu li{
        width: 100%;
        display: grid;
        place-items: center;
    }
    /* Nav */
    /* Mapa */
    .titulo{ font-size: 12px;}
    /* Mapa */
    /* Slide */
    .slide, #map{ height: 300px; }
    #nav-slide .dots{ width: 30px; }
    /* Slide */
    .descripcion, .info{ margin: 20px 40px 0px; }
    .descripcion h3, .info-box h3{ font-size: 16px; }
    .info{ grid-template-rows: repeat(2, 0fr); grid-gap: 0px; }
    /* Divisor */
    .divisor-linea{ margin: 7px; }
    .divisor-linea:first-child { margin-right: 0.5rem; }
    .divisor-linea:last-child { margin-left: 0.5rem; }
    .divisor-icon { font-size: 1.5rem; }
    /* Divisor */
    .tarjeta{ flex: 0 0 90%; }
    .col{ flex: 0 0 99%; }
    .container-form{ padding: 30px 10px 20px; }
    .boton button{ width: 60%; }
    /* Footer */
    .footer{ grid-template-rows: repeat(2, 1fr); grid-gap: 5px;}
    /* Footer */
}
/* Pantalla de PC */
@media screen and (min-width:801px) {
    .data input, .data textarea{ width: 98%;}
    /* Nav */
    .popup-log, .popup-registro{ width: 30%; }
    .mostrar-menu{ display: none; right: 15%; }
    .menu li:hover{ border-radius: 10px; }
    .menu .btn-servicios{ border-radius: 10px; }
    /* Nav */
    /* Mapa */
    .titulo{ font-size: 15px;}
    /* Mapa */
    /* Slide */
    .slide, #map{ height: 550px; }
    #nav-slide .dots{ width: 50px; }
    /* Slide */
    .descripcion, .info{ margin: 0px 120px; }
    .info{ grid-template-columns: repeat(2, 1fr); grid-gap: 10px; }
    /* Divisor */
    .divisor-linea{ margin: 0; }
    .divisor-linea:first-child { margin-right: 1rem; }
    .divisor-linea:last-child { margin-left: 1rem; }
    .divisor-icon { font-size: 2rem; }
    /* Divisor */
    .tarjeta{ flex: 0 0 31%; }
    .col{ flex: 0 0 41.65%; }
    .container-form{ padding: 30px 100px 20px; }
    .datos label{ font-size: 3vh; }
    .boton button{ width: 30%; }
    /* Footer */
    .footer{ grid-template-columns: repeat(2, 1fr); grid-gap: 10px; }
    /* Footer */
}

/* Apartado de nav */
.nav{
    background: var(--pri);
    position: sticky;
    top: 0;
    z-index: 3;
}
.sesion{ height: 50px; }
.navegacion{ height: 50px; padding-bottom: 3px;}

/* Apartado de sesión */
.logo{
    position: absolute;
    margin: 8px 25px 0;
}
.cuenta{ 
    float: right;
    margin: 15px 15px 0 0px; 
    color: var(--blanco);
    text-transform: uppercase;
    text-decoration: none;
}
.cuenta:hover{
    color: var(--hover); 
    text-decoration: underline;
}
    /*PopUP de inicio de sesion y registro */
.popup-log, .popup-registro{
    display: none;
    background: var(--blanco);
    opacity: 0.96;
    padding: 30px 30px 20px;
    box-shadow: 0 0 8px rgb(0,0,0,0.4);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.cerrar{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.cerrar:hover{ color: var(--hover);}
.btn-sesion{
    margin: 5px 10%;
    height: 45px;
    width: 80%;
    position: relative;
    background: var(--hover);
    border: none;
    border-radius: 10px;
    color: var(--blanco);
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.5s;
}
.btn-sesion:hover{ transform: translateY(-5px); }
#registro:checked ~ .popup-registro{ display: block; }
#iniciar-sesion:checked ~ .popup-log{ display: block; }
    /*PopUP de inicio de sesion y registro */
/* Apartado de sesión */
/* Apartado de navegación */
.menu{ 
    list-style-type: none; 
    color: var(--blanco); 
    margin-right: 5px;
    padding: 0;
    overflow: hidden;
}
ul{ margin: 0; }
.menu li{ float: right; margin-left: 5px;}
.menu li.is-active{ background: var(--hover); }
.menu .btn-servicios{background: var(--ter);}
.menu li a{
    display: inline-block;
    color: var(--cuar);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li:hover { background-color: var(--hover); }
.chk{
    position: absolute;
    visibility: hidden;
}
#check-menu:checked ~ .menu{ display: block; }
.mostrar-menu{
    font-size: 25px;
    cursor: pointer;
    color: var(--blanco);
    position: fixed;
}
.mostrar-menu:hover{ color: var(--hover); }
.mostrar-menu i{ padding-right: 13px;}
/* Apartado de navegación */
/* Apartado de nav */

/* --- */

/* Mapa */
.titulo{
    height: auto;
    padding: 10px;
    background: var(--pri);
    color: var(--blanco);
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 2px;
}
/* Mapa */

/* --- */

/* Seccion Slideshow */
.slide-body{
    background: var(--sec);
    margin: 0 auto;
    position: relative;
    width: 100%;
    user-select: none;
    border: none;
    height: 100%;
}

.slide-body .slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide-body .slide_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-body #nav-slide{
    width: 100%;
    bottom: 20px;
    height: 11px;
    position: absolute;
    text-align: center;
    cursor: default;
    z-index: 2;
}

#nav-slide .dots{
    top: -15px;
    height: 25px;
    width: 25px;
    margin: 0px 6px;
    border: 2px solid #fff;
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    border-radius: 30px;
}

#nav-slide .dots:hover {
    cursor: pointer;
    background-color: #fff;
    transition: .25s
}

#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{z-index: 1; animation: scroll 1s ease-in-out;}

#i1:checked  ~  #nav-slide #dot1,
#i2:checked  ~  #nav-slide #dot2,
#i3:checked  ~  #nav-slide #dot3,
#i4:checked  ~  #nav-slide #dot4,
#i5:checked  ~  #nav-slide #dot5
{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
    0%{	opacity:.4; }
    100%{ opacity:1; }
}

#i1, #i2, #i3, #i4, #i5{ display: none;}
/* Fin seccion slideshow */

/* --- */

/* Sección de NAVEGACION CON ICONOS */
.iconos{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(30px, auto);
    text-align: center;
    padding: 30px 10px;
}
.iconos img{max-width: 100%;}
.row-iconos:hover .overlay{ opacity: 0.8; }
.row-iconos{ position: relative; }
/*  ICONOS - OVERLAY  y SUS CONTENEDORES */
.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: var(--blanco);
    width: 100%;
}
.a-overlay{
    padding-top: 50px;
}
.text-over {
    color: var(--sec);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 19px;
    font-weight: bold;
}
.overlayFade{
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blanco);
    border-radius: 15px;
}
/* Fin de sección de navegacion con iconos */

/* --- */

/* Filtro */
.filtro{
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    background: var(--pri);
}
.filtro h2, .titulo h2{ 
    margin: 10px; 
    font-family: 'Calligraffitti', cursive; 
    font-size: 35px; 
    letter-spacing: 1px;
}
.dropdown{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    justify-content: center;
}
.select_style{
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/* Filtro */

/* --- */

/* Tarjetas */
.tarjetas h4{padding: 20px 0px;}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 5px;
    
}
.tarjeta{
    position: relative;
    width: 32%;
    height: 250px;
    margin-bottom: 5px;
    margin: 5px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.tarjeta img{ 
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.baner{ 
    position: absolute;
    text-align: center;
    top: 95%;
    transform: translate(0, -100%); 
    width: 100%;
    height: 60px;
    background-color: rgba(230, 184, 0, .7);
}
.baner p{ 
    color: var(--sec); 
    margin: 0px;
    padding: 5px 0px 0px;
}
/* Tarjetas */

/* --- */

/* Vista de servicios o atractivos individuales */

.info{
    background: var(--blanco);
    display: grid;
    padding-bottom: 30px; 
}
.info-box{ margin: auto auto;}
.info-box h3{ font-size: 20px; }
.descripcion{ padding-bottom: 50px;}
.title{ padding: 20px 0px 20px; }
.title h2{ 
    margin: 10px; 
    font-family: 'Calligraffitti', cursive; 
    font-size: 35px; 
    letter-spacing: 1px;
}
.rs{ 
    list-style-type: none; 
    color: var(--blanco); 
    margin-right: 5px;
    padding: 0;
    overflow: hidden;
}
ul{ margin: 0; }
.rs li{ float: left;}
.rs li a{
    display: inline-block;
    color: var(--cuar);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.rs li:hover { 
    background-color: rgba(29, 75, 149, .6);
    border-radius: 10px;
    color: var(--blanco);
}

/* Vista de servicios o atractivos individuales */

/* --- */


/* Usuario */
#tarj:hover .overlay{ opacity: 0.9; padding: 80px 3px;}
.cont-serv{
    padding-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}
/* --- */

/* Formulario */
.data label{font-weight: bold; font-size: 20px;}
.dataimage label{font-weight: bold; font-size: 20px;}
.input-user{
    align-content: center;
    text-align: center;
}
.boton{
    margin: 5px 0;
    height: 45px;
    align-content: center;
    text-align: center;
}
.boton button{
    height: 100%;
    border: none;
    border-radius: 15px;
    background: var(--ter);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.boton button:hover{ background: var(--hover); }
/* Fin formulario */

/* --- */

/* Estilo de las tablas */
.table{
    width:100%;
    background-color:transparent
}
.table td,.table th{
    padding: 1rem;
    vertical-align: top;
    border: 1px solid var(--blanco);
}
.boton-act{
    text-decoration: none;
    color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.aceptar{ background-color: var(--hover); }
.eliminar{ background-color: #d9534f; }
.actualizar{ background-color: var(--hover2); }
.cancelar{ background-color:var(--ter); }
/* Fin estilo de tablas */
/* Usuario */

/* --- */

/* Footer */
.footer{
    background: var(--pri);
    display: grid;
    padding: 15px 0px;
}
.u-valpo{ background: var(--pri); padding-bottom: 10px;}
.u-valpo h3{margin: 0;}
.footer-box{ padding: 0.5rem; }
/* Footer */

/* --- */

/* Divisor de página */
.divisor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor-linea{
    width: 100%;
    max-width: 6rem;
    height: 0.3rem;
    border-radius: 1rem;
}
.separador{ height: 10px; background: var(--pri); }
.icon-ng { color: var(--pri) !important;}
.icon-bl { color: var(--blanco) !important;}
.linea-ng{background-color:  var(--pri); border-color:  var(--pri) !important;}
.linea-bl{background-color: var(--blanco); border-color: var(--blanco) !important;}
/* Divisor de página */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}