.card {
  height: 350px;
  width: 300px;
  background-color: #fff;
  cursor: pointer;
  .img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .card_body {
    padding: 10px;
    max-height: 50%;
    overflow: hidden;

    .title {
      margin: 0%;
    }

    .description {
      margin: 0%;
    }
  }
}
