<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Talleres - Quintero</title>
        <link rel="icon" style="" type="image/x-icon" href="/img/icon.png" />
        <link rel='stylesheet' type='text/css' href='/css/styles.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <!-- Mapa -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3GT9BCmJJLxmb_wwOrT8_VVS4ljKy_Q"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="js/jquery-3.2.1.js"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Calligraffitti&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="nav">
            <div class="sesion">
                <a href="/" class="logo"><img style="width: 200px;" src="/img/icon.png"/></a>
                <% if (usuario != null) { %>
                    <a class="cuenta" href="/logout">Cerrar sesión</a>
                <% } %>
                <% if (usuario == null){ %>
                    <label for="iniciar-sesion" class="cuenta" href="">Iniciar sesión</label>
                <% } %>
                <!-- PopUP inicio de sesion y registro -->
                <input type="checkbox" id="iniciar-sesion" class="chk">
                <input type="checkbox" id="registro" class="chk">

                <!-- Inicio de sesion -->
                <div class="popup-log">
                    <label for="iniciar-sesion" class="cerrar fas fa-times"></label>
                    <h2 class="centrado mayus">Iniciar sesion</h2>
                    <form action="/login" method="POST">
                        <div class="data">  
                            <h3>Email</h3>
                            <input type="text" placeholder="Ingresa un correo electronico" minlength="4" maxlength="50" name="username" required/>
                        </div>
                        <div class="data">
                            <h3>Contraseña</h3>
                            <input type="password"  placeholder="Ingresa una contraseña" name="password" minlength="3" maxlength="14" pattern="[A-Za-z0-9]+" title="Una contraseña debe contener letras y numeros" required/>
                        </div>
                        <button type="submit" class="btn-sesion">Ingresar</button>
                    </form>
                </div>
                <!-- Fin inicio de sesion -->

                <!-- Registro -->
                <div class="popup-registro">
                    <label for="registro" class="cerrar fas fa-times"></label>
                    <h2 class="centrado mayus">Registrarse</h2>
                    <form action="/registro" method="POST">
                        <div class="data">
                            <h3>e-Mail</h3>
                            <input type="email" placeholder="Ingresa un correo electronico" minlength="4" maxlength="50" name="correo" required/>
                        </div>
                        <div class="data">
                            <h3>Contraseña</h3>
                            <input type="password"  placeholder="Ingresa una contraseña" name="contrasena" minlength="6" maxlength="14" pattern="[A-Za-z0-9]+" title="Una contraseña debe contener letras y numeros" required/>
                        </div>
                        <div class="data">
                            <h3>Nombre</h3>
                            <input type="text" minlength="6" maxlength="14" placeholder="Ingresa tu nombre" name="nombre" pattern="[A-Za-z]+" title="Un nombre debe tener solamente letras" required/>
                        </div>
                        <div class="data">
                            <h3>Contacto</h3>
                            <input type="number"  placeholder="Ingresa tu numero de teléfono o celular" name="telefono" required/>
                        </div>
                        <button type="submit" class="btn-sesion">Enviar solicitud</button>
                    </form>
                </div>
                <!-- Fin registro -->

                <!-- Fin PopUP inicio de sesion y registro -->
            </div>
            <div class="navegacion">
                <input type="checkbox" id="check-menu" class="chk">
                <label for="check-menu" class="mostrar-menu"><i class="fas fa-bars"></i></label>
                <ul class="menu">
                    <% if (usuario != null) { %>
                        <li class="btn-servicios"><a href="/mis-servicios">MIS SERVICIOS</a></li>
                    <% } %>
                    <li><a href="/">INICIO</a></li>
                </ul>
            </div>
        </div>